<%= simple_form_for(@customer, html: {id: 'customer_form'}) do |f| %>

  <% if @customer.errors.any? %>
    <p><%= pluralize(@customer.errors.count, 'error') %> prohibited this customer from being saved:</p>
    <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <% first_name = Faker::Name.first_name %>
  <% last_name = Faker::Name.last_name %>

  <%= f.input :first_name, input_html: {value: @customer.first_name || first_name} %>
  <%= f.input :last_name, input_html: {value: @customer.last_name || last_name} %>
  <%= f.input :company, input_html: {value: @customer.company|| Faker::Company.name} %>
  <%= f.input :email, input_html: {value: @customer.email || Faker::Internet.email} %>
  <%= f.input :phone, input_html: {value: @customer.phone || '555-555-5555'} %>
  <%= f.input :fax, input_html: {value: @customer.fax || '555-555-5555'} %>
  <%= f.input :website, input_html: {value: @customer.website || 'www.google.com'} %>

  <div>
    <% if current_page?(new_customer_path) %>
      <%= label_tag(:add_to_braintree, 'Also store customer in braintree?') %><%= check_box_tag(:add_to_braintree, '1', true) %>
    <% end %>
  </div>

  <div class='js-credit_card_form'>
    <%= f.simple_fields_for :credit_cards do |g| %>
      <%= g.input :cardholder_name, input_html: {value: "#{first_name} Test #{last_name}"} %>

      <%= g.input :number, input_html: {value: '1117', 'data-braintree-name' => 'number'} %>
      <%= g.input :exp_month, input_html: {value: '12', 'data-braintree-name' => 'expiration_month'} %>
      <%= g.input :exp_year, input_html: {value: '2018', 'data-braintree-name' => 'expiration_year'} %>

    <% end %>
  </div>

  <%= button_tag('Add Another Credit Card', class: 'js-add_credit_card') %>

  <%= f.submit %>
<% end %>


<script src="https://js.braintreegateway.com/v2/braintree.js"></script>
<script>

  braintree.setup("<%= @client_token %>", "custom", {
    id: "customer_form"
  });
</script>