<%= simple_form_for(@customer, html: {id: 'customer_form'}) do |f| %>

  <% if @customer.errors.any? %>
    <p><%= pluralize(@customer.errors.count, 'error') %> prohibited this customer from being saved:</p>
    <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.input :first_name, input_html: { value: @customer.first_name || Faker::Name.first_name } %>
  <%= f.input :last_name, input_html: { value: @customer.last_name || Faker::Name.last_name } %>
  <%= f.input :company, input_html: { value: @customer.company|| Faker::Company.name } %>
  <%= f.input :email, input_html: { value: @customer.email || Faker::Internet.email } %>
  <%= f.input :phone, input_html: { value: @customer.phone || '555-555-5555' } %>
  <%= f.input :fax, input_html: { value: @customer.fax || '555-555-5555' } %>
  <%= f.input :website, input_html: { value: @customer.website || 'www.google.com' } %>

  <div>
    <% if current_page?(new_customer_path) %>
      <%= label_tag(:add_to_braintree, 'Also store customer in braintree?') %><%= check_box_tag(:add_to_braintree, '1', true) %>
    <% end %>
  </div>

  <%= f.simple_fields_for :credit_cards do |g| %>
    <%= g.input :cardholder_name %>
    <%= g.input :number %>
    <%= g.input :exp_month %>
    <%= g.input :exp_year %>
  <% end %>

  <%= f.submit %>
<% end %>