<%= title "Customer - #{@customer.id}" %>
<h3><%= "Customer - #{@customer.id}" %></h3>

<dl>
  <dt>id</dt>
  <dd><%= @customer.id %></dd>

  <dt>first_name</dt>
  <dd><%= @customer.first_name %></dd>

  <dt>last_name</dt>
  <dd><%= @customer.last_name %></dd>

  <dt>company</dt>
  <dd><%= @customer.company %></dd>

  <dt>email</dt>
  <dd><%= @customer.email %></dd>

  <dt>phone</dt>
  <dd><%= @customer.phone %></dd>

  <dt>fax</dt>
  <dd><%= @customer.fax %></dd>

  <dt>website</dt>
  <dd><%= @customer.website %></dd>
</dl>

<% @customer.credit_cards.each_with_index do |card, index| %>
  <dl>
    <dt>index</dt>
    <dd><%= index+1 %></dd>

    <dt>cardholder_name</dt>
    <dd><%= card.cardholder_name %></dd>

    <dt>number</dt>
    <dd><%= card.number %></dd>

    <dt>exp_month</dt>
    <dd><%= card.exp_month %></dd>

    <dt>exp_year</dt>
    <dd><%= card.exp_year %></dd>
  </dl>
<% end %>

<%= link_to 'Edit', edit_customer_path %>
<%= link_to 'Back', customers_path %>